*,*::before,*::after{
    // outline: 1px solid gray;
}
body{
    font-family: "Newsreader","Noto Serif TC", "Noto Sans TC", -apple-system, BlinkMacSystemFont,
            "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    background-color: #FFFDF5;
    color: $mygray-5;
}
a {
    text-decoration: none;
    display: block;
    color: inherit;
}
i{
    font-family: "Noto Serif TC", sans-serif;
    display: inline-block;
    line-height: 0;
}



span{
    display: inline-block;
}

h1,
h2,
h3{
    margin-bottom: 0;
    line-height: 1.2;
    letter-spacing: 0.1em;
    font-weight: 900;
}

h4,
h5,
h6{
    margin-bottom: 0;
    line-height: 1.2;
    letter-spacing: 0.1em;
    font-weight: 700;
}

p,
ul
{
    margin-bottom: 0;
    letter-spacing: 0.05em;
    font-weight: 600;
}
