<header class="header py9 py-lg5">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light py0">
            <div class="container-fluid px0">
                <a class="navbar-brand mr9 " href="index.html">
                    <picture>
                        <source srcset="../assets/images/logo-sm.png" media="(max-width:992px)">
                        <img src="../assets/images/logo.png" alt="logo">
                    </picture>
                </a>
                <a class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list fz-6"></i>
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 ">
                        <form class="searchForm d-flex me-auto my-lg6">
                            <div class="input-group">
                                <input class="form-control border-r25" type="search" placeholder="搜尋文章" aria-label="Search">
                                <button class="btn searchBtn" type="button"><i class="bi bi-search mysuccess-2 fz-6"></i></button>
                            </div>
                            
                        </form>
                        <li class="nav-item d-flex align-items-center mr5 mr-lg0 mb-lg6">
                        <a class="nav-link h6 px-lg3" aria-current="page" href="#">所有文章</a>
                        </li>
                        <li class="nav-item d-flex align-items-center mr5 mr-lg0 mb-lg6">
                        <a class="nav-link h6 px-lg3" href="#">訂閱方案</a>
                        </li>
                        <li class="nav-item d-flex align-items-center mr5 mr-lg0 mb-lg6" id="nav-item">
                        <a class="nav-link h6 px-lg3" aria-current="page" href="about.html">關於我們</a>
                        </li>
                        <li class="nav-item d-flex align-items-center" id="nav-item">
                        <a class="btn mybtn-success-sm login w-100" aria-current="page" href="#">登入/註冊</a>
                        
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>