.register-main {
    .sec1 {
        .inputUserInfo {
            border: none;
            background-color: $mygray-1;
            padding: 12px 16px;
            border-radius: 8px;
        }

        .divider {
            width: 556px;
            height: 1px;
            background-color: $mygray-2;
        }

        .markTxt {
            color: $mygray-3 ;
            background-color: white;
            padding: 0 12px;
        }

        .google-i,
        .fb-i {
            transform: translateY(-2px);
        }
    }
}