.about-main{
    // sec1開始
    .sec1 {
        .banner {
            max-width: 1296px;
            height: 454px;
            background-image: url(../images/about-banner.png);
            margin: 0 auto;
        }
        @include rwd-sm-max {
            .banner {
                background-image: url(../images/about-banner-sm.png);
            }
        }
    }
    // sec1結束

    // sec2開始
    .sec2{
        .breadcrumb{
            padding: 12px 0;
        }
        .breadcrumb-item{
            color: $mygray-4;
            font-weight: 600;
            &:hover{
                color:$mysuccess-2 ;
            }
            &:last-child {
                color: $mysuccess-2;
                font-weight: 600;
            }
        }
        @include rwd-lg-max{
            .breadcrumb-item{
                font-size: 14px;
            }
        }
    }
    // sec2結束
    
    // sec3開始
    .sec3{

        .list-items-txt{
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        .month{
            min-width: 52px;
            transform: translateY(-8PX);
            span {
                text-wrap: nowrap;
            }
        }
        .txt{
            border-left: 1px solid $mygray-3;
        }
        @include rwd-lg-max{
            h2{
                text-align: center;
            }
        }
    }
    // sec3結束
}